.color-primary {
	color:#ff8000;
	background-color:#000;
}

.color-accent {
	color:#b35900;
	background-color:#000;
}
.color-success {
	color:#59b300;
	background-color:#000;
}
.color-warning {
	color:#F90000;
	background-color:#000;
}
.color-panic {
	color:#F900E0;
	background-color:#000;
	font-weight:bolder;
}
.color-info {
	color:#4d2600;
	background-color:#000;
}

body {
	background-color:#000;
	color:#ccc;
}
